<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col h3 text-center">
          Interval
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row" *ngIf="emitedNumber%2 == 0">
        <div class="col">
            <app-even [evenNumber]='emitedNumber'></app-even>
        </div>
      </div>
      <div class="row" *ngIf="emitedNumber%2 !== 0">
        <div class="col">
            <app-odd [oddNumber]='emitedNumber'></app-odd>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col text-center">
          <app-interval-controller (numberInterval)=onInterval($event) (resetInterval)="onResetInterval($event)"></app-interval-controller>
        </div>
      </div>
    </div>
  </div>
</div>